firm_68708/firm/pitch_deck_subfllow/template.yml
id: pitch_deck_workflow_subflow
namespace: firm_[[firmId]].firm
description: |
  {
    "createdAt": "2026-03-13T08:09:13.363Z", 
    "updatedAt": "2026-03-13T15:42:13.994857Z", 
    "description": "Automatically evaluates pitch decks to assess opportunities. If the opportunity crosses the predefined threshold, an external project is triggered and sent to the manager for further review and action."
  }

labels:
  dv_triggerType: "Pitch Deck Submitted"
  dv_name: "Pitch Deck Assessment"
  category: "Pitch Deck Review"

inputs:
  - id: username
    type: STRING
    required: true
    defaults: [[userName]]

  - id: project
    type: JSON
    required: true

pluginDefaults:
  - type: com.diligencevault.plugin.core.tasks
    values:
      retry:
        type: constant
        maxAttempts: 3
        interval: PT30S

  - type: io.kestra.plugin.core.http
    values:
      retry:
        type: constant
        maxAttempts: 3
        interval: PT30S
  

tasks:
  - id: get_token
    type: com.diligencevault.plugin.core.tasks.GetToken
    firmID: [[firmId]]
    email: [[userName]]

  - id: Start_Internal_Duediligence
    type: io.kestra.plugin.core.flow.Sequential
    description: |
      Internal project is created using the "Initial manager screening" template
    tasks:      
      - id: Get_Manager_Firm_Details
        type: io.kestra.plugin.core.http.Request
        uri: '{{envs.dv_apihost}}/api/firms/{{inputs.project.manager_id}}/profile'
        headers:
          Authorization: Bearer {{outputs.get_token.token}}
          page-url: /app/home

      
      - id: Get_Internal_Project_Template
        type: io.kestra.plugin.core.http.Request
        uri: '{{envs.dv_apihost}}/api/templates/{{inputs.project.template_id}}'
        headers:
          Authorization: Bearer {{outputs.get_token.token}}
          page-url: /app/home
       
      - id: dv_entity_value
        type: io.kestra.plugin.core.execution.Labels
        labels:
          entity_value: "{{ outputs.Get_Manager_Firm_Details.body| jq('.name')|first }}"

      - id: Create_New_Internal_Project_Internal
        type: com.diligencevault.plugin.core.tasks.NewDiligenceRequest
        token: '{{outputs.get_token.token}}'
        name: '{{outputs.Get_Internal_Project_Template.body|jq(".templateInfo.name")|first }}-{{outputs.Get_Manager_Firm_Details.body| jq(".name")|first}}'
        allow_project_name_access: false
        is_approval_required: false
        internal: true
        entity_notification_contacts:
          - [[notificationContact]]
        as_of_date: '{{now(timeZone="Asia/Kolkata")}}'
        entityType: Firm
        entityId: '{{inputs.project.manager_id}}'
        templateId: '{{inputs.project.template_id}}'
        due_at: '{{now(timeZone="Asia/Kolkata")| dateAdd(10, "DAYS")}}'



  - id: Data_Extraction_And_Evaluation
    type: io.kestra.plugin.core.flow.Sequential
    description: |
      Responses are auto-filled using the “Annual investor presentation” document
    tasks:
      - id: Attach_Document_to_Project
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        dependencies:
          - kestra
          - requests
        script: |
          import requests as r
          from kestra import Kestra

          headers = {
            'Authorization': 'Bearer {{outputs.get_token.token}}',
            'page-url': '/app/home'
          }

          data = {
            "Entity_ids": [
                {{outputs.Create_New_Internal_Project_Internal.id}}
            ],
            "entity_type": "DueDiligence",
            "newassigned": {{inputs.project.file_ids}},
            "unassigned": []
          }

          res = r.post('{{envs.dv_apihost}}/api/AttachmentAssignments/bulk_assignment_v2',
                      headers=headers,
                      json=data)

          Kestra.outputs({'status_code':res.status_code, 'body':res.text})

      - id: Start_Autofill
        type: io.kestra.plugin.core.http.Request
        uri: '{{envs.dv_apihost}}/api/service/es_service/document_autofill'
        method: POST
        contentType: application/json
        headers:
          Authorization: 'Bearer {{outputs.get_token.token}}'
          page-url: /app/home
        body: |
          {
            "duediligence_id": {{outputs.Create_New_Internal_Project_Internal.id}},
            "source_tab": "AI Mode",
            "document_ids": {{inputs.project.file_ids}},
            "is_drafts_enabled": false,
            "is_AE": false
          }

      - id: wait_for_autofill
        type: io.kestra.plugin.core.flow.LoopUntil
        condition: "{{ outputs.check_autofill_status.body == '{}' }}"
        tasks:
          - id: sleep
            type: io.kestra.plugin.core.flow.Pause
            pauseDuration: PT1M

          - id: check_autofill_status
            type: io.kestra.plugin.core.http.Request
            uri: '{{envs.dv_servicehost}}/es_service/document_autofill_progress?duediligence_id={{outputs.Create_New_Internal_Project_Internal.id}}'
            headers:
              Authorization: Bearer {{outputs.get_token.jwt}}
      
      - id: get_token2
        type: com.diligencevault.plugin.core.tasks.GetToken
        firmID: [[firmId]]
        email: '{{inputs.username}}'


      - id: mark_project_completed
        type: com.diligencevault.plugin.core.tasks.SetProjectStatus
        projectId: '{{outputs.Create_New_Internal_Project_Internal.id}}'
        status: completed
        token: '{{outputs.get_token.token}}'

      - id: wait_for_auto_scoring
        type: io.kestra.plugin.core.flow.Pause
        pauseDuration: PT1M

      
      - id: Get_Project_Details
        type: io.kestra.plugin.core.http.Request
        uri: '{{envs.dv_apihost}}/api/diligences/{{outputs.Create_New_Internal_Project_Internal.id}}'
        headers:
          Authorization: Bearer {{outputs.get_token2.token}}
          page-url: /app/home

  - id: Evaluate_Responses_If
    type: io.kestra.plugin.core.flow.If
    description: |
      Evaluates responses using predefined rules
    condition: '{{outputs.Get_Project_Details.body| jq(".total_score") |first < [[scoreThreshold]]  }}'
    then:
      - id: Reject
        type: com.diligencevault.plugin.core.tasks.SetProjectStatus
        projectId: '{{outputs.Create_New_Internal_Project_Internal.id}}'
        status: notapproved
        token: '{{outputs.get_token2.token}}'

      - id: Complete_Duediligence_Process
        type: io.kestra.plugin.core.execution.Exit
    
  
  - id: Assign_Approval_Task
    description: |
      Assign Approval Task to User
    type: io.kestra.plugin.core.flow.Sequential
    tasks:
      - id: get_autofill_count
        type: io.kestra.plugin.core.http.Request
        uri: '{{envs.dv_apihost}}/api/diligences/{{outputs.Create_New_Internal_Project_Internal.id}}/QuestionCounts'
        headers:
          Authorization: Bearer {{outputs.get_token2.token}}
          page-url: /app/home

      - id: create_form
        type: io.kestra.plugin.core.http.Request
        method: POST
        uri: '{{envs.dv_apihost}}/api/service/dvapi_service/forms'
        contentType: application/json
        headers:
          page-url: /app/home
          Authorization: Bearer {{outputs.get_token2.token}}
        body: |
          {
              "form": {
                "title": "User Approval Form",
                "assigned_user_id" : [[assignedUserId]],
                "assigned_function_id": null,
                "due_date": "{{now()|dateAdd(3, 'DAYS')}}",
                "input_schema": [
                  {
                      "id": "total",
                      "type": "NUMBER",
                      "text": "Total Number of questions autofilled",
                      "max": {{json(outputs.get_autofill_count.body)[60].value??0+1}},
                      "min": 0,
                      "default": {{json(outputs.get_autofill_count.body)[60].value??0}},
                      "required": true
                  },
                  {
                      "id": "confident",
                      "type": "NUMBER",
                      "text": "Number of questions autofilled with Confidence",
                      "max": {{json(outputs.get_autofill_count.body)[60].value??0+1}},
                      "min": 0,
                      "default": {{json(outputs.get_autofill_count.body)[61].value??0}},
                      "required": true
                  },
                  {
                      "id": "limited",
                      "type": "NUMBER",
                      "text": "Number of questions autofilled with limited confidence",
                      "max": {{json(outputs.get_autofill_count.body)[60].value??0+1}},
                      "min": 0,
                      "default": {{json(outputs.get_autofill_count.body)[62].value??0}},
                      "required": true 
                  },
                  {
                      "id": "projectUrl",
                      "type": "TEXT",
                      "text": "Project URL",
                      "default": "https://dv-feature-angular.azurewebsites.net/#/app/diligence/projects/{{outputs.Create_New_Internal_Project_Internal.id}}/questionnaire",
                      "required": true,
                      "multiple": false
                  },
                  {
                      "id": "Approval",
                      "type": "SELECT",
                      "options" : ["APPROVED", "REJECTED"],
                      "text": "Approval Status for project",
                      "default": "REJECTED",
                      "required": true,
                      "multiple": false
                  } 
                ]
              }
            }

      - id: suscribe_form_submission
        type: io.kestra.plugin.core.http.Request
        method: POST
        headers:
          page-url: /app/home
          Authorization: Bearer {{outputs.get_token2.token}}
        uri: '{{envs.dv_apihost}}/api/service/dvapi_service/subscriptions'
        contentType: application/json
        body: |
          {
              "subscriptions": {
                "execution_id": "{{execution.id}}",
                "expression": " $form_submission.status == 'completed' ",
                "due_date": "{{now()|dateAdd(3, 'DAYS')}}",
                "subscriptions": [
                {
                    "entity_type": 7001,
                    "entity_id": {{outputs.create_form.body| jq('.id')|first}},
                    "entity_event": "form.status.updated",
                    "expression": " event.after.status == 'submitted' ",
                    "alias": "form_submission",
                    "due_date": "{{now()|dateAdd(3, 'DAYS')}}"
                } 
              ]
            }
          }

  - id: Waiting_for_Approval
    type: io.kestra.plugin.core.flow.Pause
    description: |
      Wait For Manual User Approval
    onResume:
      - id: dv_subscription_group_id
        type: INT
        defaults: '{{outputs.suscribe_form_submission.body|jq(".id")|first}}'

      - id: event
        type: JSON
        required: true

  - id: get_token3
    type: com.diligencevault.plugin.core.tasks.GetToken
    firmID: [[firmId]]
    email: '{{inputs.username}}'
  

  - id: Check_User_Approval
    type: io.kestra.plugin.core.flow.If
    condition: '{{outputs.Waiting_for_Approval.onResume.event.form_submission.extras.form.completed_data.Approval == "REJECTED"}}'
    then: 
      - id: Reject_
        type: com.diligencevault.plugin.core.tasks.SetProjectStatus
        description: |
          Reject Proposal and Halt Duediligence Process
        projectId: '{{outputs.create_new_project.id}}'
        status: notapproved
        token: '{{outputs.get_token3.token}}'

      - id: Complete_Duediligence_Process_
        type: io.kestra.plugin.core.execution.Exit
        description: |
          Evalution and Analysis for this proposal is rejected and due diligence process is completed


  - id: Approve_Pitch
    type: com.diligencevault.plugin.core.tasks.SetProjectStatus
    description: |
      Approves due diligence proposal
    projectId: '{{outputs.Create_New_Internal_Project_Internal.id}}'
    status: approved
    token: '{{outputs.get_token3.token}}'

  # Allow this step to fail so that manager will auto receive ddq even if step fails
  - id: Generate_Presentation_Report
    type: io.kestra.plugin.core.flow.AllowFailure
    description: |
      Generates a presentation report using the “Screening” template design
    tasks:
      - id: Generate_Presentation_Report_Internal
        type: io.kestra.plugin.core.http.Request
        contentType: application/json
        method: POST
        headers:
          Authorization: 'Bearer {{outputs.get_token3.token}}'
          page-url: '/app/home'
        uri: '{{envs.dv_apihost}}/api/reports/new/generate'
        body: |
          {
            "document_id": [[documentId]],
            "name": "Initial Manager Screening",
            "as_of_date": "{{now() | date('MM-dd-YYYY')}}",
            "diligence_ids": [
              {{outputs.Create_New_Internal_Project_Internal.id}}
            ],
            "save_report": true
          }

      - id: Email_Presentation_Report
        type: io.kestra.plugin.core.http.Request
        uri: '{{envs.dv_apihost}}/api/reports/new/{{json(outputs.Generate_Presentation_Report_Internal.body).id}}/email'
        headers:
          Authorization: Bearer {{outputs.get_token3.token}}
          page-url: /app/home

  - id: Request_Additional_Data
    type: com.diligencevault.plugin.core.tasks.NewDiligenceRequest
    description: |
      Primary manager evaluation is succesful. Move to next stage and request additional data from manager
    token: '{{outputs.get_token3.token}}'
    name: '{{outputs.Get_Internal_Project_Template.body|jq(".templateInfo.name")|first }}-{{outputs.Get_Manager_Firm_Details.body| jq(".name")|first}}'
    allow_project_name_access: false
    is_approval_required: false
    internal: false
    entity_notification_contacts:
      - [[notificationContact]]
    as_of_date: '{{now(timeZone="Asia/Kolkata")}}'
    entityType: Firm
    entityId: '{{inputs.project.manager_id}}'
    templateId: [[templateId]]
    due_at: '{{now(timeZone="Asia/Kolkata")| dateAdd(10, "DAYS")}}'

  


  - id: Update_Relationship_Status
    description: |
      Updates the relationship status for manager in both DiligenceVault and Salesforce CRM
    type: io.kestra.plugin.core.flow.Sequential
    tasks:  
      - id: Get_External_Project_Details
        type: io.kestra.plugin.core.http.Request
        uri: '{{envs.dv_apihost}}/api/diligences/{{outputs.Request_Additional_Data.id}}'
        headers:
          Authorization: 'Bearer {{outputs.get_token3.token}}'
          page-url: /app/home
    
      - id: Update_Firm_Relationship_Status_to_Under_Review
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        script: |
          from kestra import Kestra 
          import requests as r
          import json
          import sys
          logger = Kestra.logger()

          firm_id = {{inputs.project.manager_id}}

          tag_value = 'Under Review'
          tag_id = -1
          headers = {
            'Authorization': "Bearer {{outputs.get_token3.token}}",
            'page-url': '/app/home'

          }
          tags = r.get('{{envs.dv_apihost}}/api/tags?type=Status', headers=headers)
          if tags.status_code!=200:
            raise Exception('Failed to fetch status')

          tags = tags.json()

          for tag in tags:
            if tag['name'].lower() == tag_value.lower():
                tag_id = tag['id']

          data = {
              "relationship_status_id": tag_id
            }

          res = r.put(f'{{envs.dv_apihost}}/api/firms/{firm_id}', headers=headers, json=data)
          if res.status_code!=202:
            raise Exception(f'Failed to update relationship status: {res.content}')

          logger.info('Relationship Status Updated Succesfully')

      - id: Get_Salesforce_Credentials_Second
        type: io.kestra.plugin.core.kv.Get
        key: SALES_FORCE_CLIENT_CREDS
        namespace: 'firm_[[firmId]].firm'

      - id: Get_Salesforce_Access_Token_Second
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        dependencies:
          - requests
          - kestra
        script: |
          import requests
          from kestra import Kestra
          import json
          data = json.loads(r'''{{outputs.Get_Salesforce_Credentials_Second.value}}''')
          res = requests.post("https://orgfarm-8adaed7eaf-dev-ed.develop.my.salesforce.com/services/oauth2/token", data=data)
          res.raise_for_status()
          data = res.json()

          access_token = data['access_token']
          Kestra.outputs({"access_token":access_token})

      - id: Update_the_firm_Relationship_Status_in_Salesforce_to_Under_Review
        type: io.kestra.plugin.core.http.Request
        uri: 'https://orgfarm-8adaed7eaf-dev-ed.develop.my.salesforce.com/services/data/v60.0/sobjects/Account/[[salesforceRecordId]]'
        method: PATCH
        headers:
          Authorization: 'Bearer {{outputs.Get_Salesforce_Access_Token_Second.vars.access_token}}'
        contentType: application/json
        body: |
          {
            "relationship_status__c": "Under Review"
          }
      
      - id: get_document_url
        type: io.kestra.plugin.core.http.Request
        method: GET
        uri: '{{envs.dv_apihost}}/api/attachments/{{inputs.project.file_ids[0]}}/signed_url'
        headers:
          Authorization: Bearer {{outputs.get_token3.token}}
          page-url: /app/home
      

      - id: Upload_Pitch_Deck_to_Salesforce_CRM
        type: io.kestra.plugin.scripts.python.Script
        allowFailure: true
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        dependencies:
          - requests
          - kestra
        script: |
          import requests
          from kestra import Kestra
          from urllib.parse import urlparse, unquote
          import json
          import base64

          INSTANCE_URL = "https://orgfarm-8adaed7eaf-dev-ed.develop.my.salesforce.com"
          RECORD_ID = "[[salesforceRecordId]]"
          FILE_URL = {{outputs.get_document_url.body}}

          logger = Kestra.logger()
          
          access_token = '{{outputs.Get_Salesforce_Access_Token_Second.vars.access_token}}'
          url = f"{INSTANCE_URL}/services/data/v60.0/sobjects/ContentVersion"

          headers = {
            "Authorization": f"Bearer {access_token}"
          }

          def upload_file_from_url(file_url):
            with requests.get(file_url, stream=True) as r:
              r.raise_for_status()
              filename = unquote(urlparse(file_url).path.split("/")[-1]) or "downloaded_file"
              sf_url = f"{INSTANCE_URL}/services/data/v60.0/sobjects/ContentVersion"
              
              headers = {
                "Authorization": f"Bearer {access_token}"
              }
              
              entity_content = '{"Title": "' + filename + '", "PathOnClient": "' + filename + '", "FirstPublishLocationId": "' + RECORD_ID + '"}'
              files = {
                  'entity_content': (None, entity_content, 'application/json'),
                  'VersionData': (filename, r.raw, r.headers.get('Content-Type', 'application/octet-stream'))
              }

              response = requests.post(sf_url, headers=headers, files=files)
              if response.status_code != 201:
                  logger.error('Failed to upload file')
              logger.debug(response.content)

          
          upload_file_from_url(FILE_URL)
      

  - id: Send_Notification_On_Teams
    type: io.kestra.plugin.microsoft365.teams.TeamsIncomingWebhook
    description: |
      Sends a Microsoft Teams notification regarding the external project sent to the manager
    url: '[[teamsWebhookUrl]]'
    payload: |
      {
        "type": "message",
        "attachments": [
          {
            "contentType": "application/vnd.microsoft.card.adaptive",
            "content": {
              "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
              "type": "AdaptiveCard",
              "version": "1.4",
              "body": [
              {
                "type": "TextBlock",
                "text": "New Project Request Sent to {{outputs.Get_Manager_Firm_Details.body| jq('.name')|first }}",
                "weight": "Bolder",
                "size": "Medium"
              },
              {
                "type": "TextBlock",
                "text": "The pitch deck project, [{{outputs.Get_Internal_Project_Template.body|jq(".templateInfo.name")|first }}-{{outputs.Get_Manager_Firm_Details.body| jq(".name")|first}}], has been approved, and a new project request has been sent to the manager. Please track the progress and ensure the next steps are completed promptly.",
                "wrap": true,
                "color": "Attention"
              },
              {
                "type": "FactSet",
                "facts": [
                {
                  "title": "Project Name: ",
                  "value": "{{outputs.Get_External_Project_Details.body|jq('.name')|first}}"
                },
                {
                  "title": "Entity Name: ",
                  "value": "{{ outputs.Get_Manager_Firm_Details.body| jq('.name')|first }}"
                },
                {
                  "title": "Due Date: ",
                  "value": "{{ now(timeZone="Asia/Kolkata")| dateAdd(10, "DAYS")|date('MM-dd-YYYY')}}"
                },
                {
                  "title": "Template Name:",
                  "value": "ILPA"
                }
                ]
              }]              
            }
      	  }]
      }

  